<div class="news-feed news-feed-form">
  <h3 class="news-feed-title">Create New Post</h3>
  <form [formGroup]="postCreateForm" (ngSubmit)="submitCreate()">
    <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6" style="margin-left: auto; margin-right: auto"
         *ngIf="urlCreatePost">
      <img [src]="urlCreatePost" style="border-radius: 3%; display: block; margin-left: auto; margin-right: auto;">
    </div>
    <br>
    <div class="form-group">
      <textarea name="content" class="form-control" formControlName="content"
                placeholder="Write something here..."></textarea>
    </div>
    <ul class="button-group d-flex justify-content-between align-items-center">
      <li class="photo-btn">
        <label for="file-upload" class="custom-file-upload">
          <i class="flaticon-gallery"></i>Photo
        </label>
        <input type="file" id="file-upload" name="fileName" (change)="fileProgress($event)"
               (change)="addFileCreatePost($event)" multiple>
      </li>
      <li class="video-btn">
        <label for="file-upload" class="custom-file-upload">
          <i class="flaticon-view"></i>
          <select class="custom-select" formControlName="status">
            <option>Public</option>
            <option>Friends</option>
            <option>Private</option>
          </select>
        </label>
      </li>
      <li class="tag-btn">
        <button><i class="flaticon-tag"></i> Tag Friends</button>
      </li>
      <li class="post-btn">
        <button>Post</button>
      </li>
    </ul>
  </form>
</div>
