<div class="profile-authentication-area">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-12">
        <div class="profile-authentication-image">
          <div class="content-image">
            <div class="logo">
              <a href="#"><img src="assets/images/logo.png" alt="Zust"></a>
            </div>
            <div class="vector-image">
              <img src="assets/images/vector.png" alt="image">
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-12">
        <div class="login-form">
          <h2>Login</h2>
          <form [formGroup]="loginForm" (ngSubmit)="loginForm.valid && login()">
            <div class="form-group">
              <div id="login-error-box"></div>
              <label>Username</label>
              <input type="text" class="form-control" formControlName="username" required  minlength="2">
              <div *ngIf="username.invalid && (username.dirty || username.touched)">
                <div class="error-message" *ngIf="username.errors?.required">* must be filled</div>
                <div class="error-message" *ngIf="username.errors?.minlength">* must be at least 2 characters long</div>
              </div>
            </div>
            <div class="form-group">
              <label>Password</label>
              <input type="password" class="form-control" formControlName="password" required minlength="6">
              <div *ngIf="password.invalid && (password.dirty || password.touched)">
                <div class="error-message" *ngIf="password.errors?.required">* must be filled</div>
                <div class="error-message" *ngIf="password.errors?.minlength">* must be at least 6 characters long</div>
              </div>
            </div>
            <button type="submit" class="default-btn">Login</button>
            <div class="or-text"><span>Or</span></div>
            <a routerLink="/auth/register" style="width: 100%"><button class="google-btn">Register</button></a>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="home-btn-icon">
    <a routerLink="/auth/login"><i class="flaticon-home"></i></a>
  </div>
</div>
