<div class="profile-authentication-area">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-12">
        <div class="profile-authentication-image">
          <div class="d-table">
            <div class="d-table-cell">
              <div class="content-image">
                <div class="logo">
                  <a href="#"><img src="assets/images/logo.png" alt="Zust"></a>
                </div>
                <div class="vector-image">
                  <img src="assets/images/vector.png" alt="image">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-12">
        <div class="register-form">
          <h2>Register</h2>
          <form [formGroup]="formRegister" (ngSubmit)="formRegister.valid && register()">
            <div class="form-group">
              <div id="register-error-box"></div>
              <label>Username</label>
              <input type="text" class="form-control" formControlName="username" required minlength="4">
              <div *ngIf="username.invalid && (username.dirty || username.touched)">
                <div class="error-message" *ngIf="username.errors?.required">* must be filled</div>
                <div class="error-message" *ngIf="username.errors?.minlength">* must have at least 4 characters long
                </div>
              </div>
            </div>
            <div class="form-group">
              <label>Email</label>
              <input type="email" class="form-control" formControlName="email" required
                     pattern="^[\w-\.]+@([\w-]+\.)+[\w-]{2,4}$">
              <div *ngIf="email.invalid && (email.dirty || email.touched)">
                <div class="error-message" *ngIf="email.errors?.required">* must be filled</div>
                <div class="error-message" *ngIf="email.errors?.pattern">* invalid email address</div>
              </div>
            </div>
            <div class="form-group">
              <label>Password</label>
              <input type="password" class="form-control" formControlName="password" required minlength="6"
                     pattern="^(?:(?=.*\d)(?=.*[A-Z])(?=.*[!@#$%^&*()_+]).*)[^\s]{3,}$">
              <div *ngIf="password.invalid && (password.dirty || password.touched)">
                <div class="error-message" *ngIf="password.errors?.required">* must be filled</div>
                <div class="error-message" *ngIf="password.errors?.minlength">* must have at least 6 characters long
                </div>
                <div class="error-message" *ngIf="password.errors?.pattern">* must have at least 1 special character
                  and 1 number and 1 upper case
                </div>
              </div>
            </div>
            <div class="form-group">
              <label>Confirm Password</label>
              <input type="password" class="form-control" formControlName="rePassword" required minlength="6"
                     pattern="^(?:(?=.*\d)(?=.*[A-Z])(?=.*[!@#$%^&*()_+]).*)[^\s]{3,}$">
              <div *ngIf="rePassword.invalid && (rePassword.dirty || rePassword.touched)">
                <div class="error-message" *ngIf="rePassword.errors?.required">* must be filled</div>
                <div class="error-message" *ngIf="rePassword.errors?.minlength">* must have at least 6 characters long
                </div>
                <div class="error-message" *ngIf="rePassword.errors?.pattern">* must have at least 1 special character
                  and 1 number and 1 upper case
                </div>
                <div class="error-message" *ngIf="rePassword.errors.confirmedValidator">* password does not match</div>
              </div>
            </div>
            <button type="submit" class="default-btn">Register</button>
            <div class="or-text"><span>Or</span></div>
            <a routerLink="/auth/login" style="width: 100%">
              <button class="google-btn">Login</button>
            </a>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="home-btn-icon">
    <a routerLink="/auth/login"><i class="flaticon-home"></i></a>
  </div>
</div>
