<div class="right-sidebar-area" data-simplebar>
  <div class="recent-chat-box">
    <div class="title">
      <h3>Recent Chat</h3>
    </div>
    <div class="chat-body" data-simplebar>
      <div class="chat-item" *ngFor="let user of listUser,index as i">
        <a href="#"><img src="http://localhost:8080/{{user.avatar}}" class="rounded-circle" alt="image"></a>
        <span class="name"><a routerLink="/messages/{{user.id}}">{{user.username}}</a></span>
        <span class="status-online"></span>
      </div>
    </div>
  </div>
  <div class="recent-contact-box">
    <div class="title">
      <h3>Contact</h3>
    </div>
    <div class="contact-search-box">
      <form [formGroup]="formSearch">
        <input type="text" class="input-search" placeholder="Search">
        <button type="submit"><i class="ri-search-line"></i></button>
      </form>
    </div>
    <div class="contact-body" data-simplebar>
      <div class="contact-item" *ngFor="let user of listUser, index as i">
        <a href="#"><img src="http://localhost:8080/{{user.avatar}}" class="rounded-circle" alt="image"></a>
        <span class="name"><a href="#">{{user.username}}</a></span>
        <span class="status-online"></span>
      </div>
    </div>
  </div>
</div>
