<div class="main-content-wrapper">
  <app-navbar></app-navbar>
  <app-sidebar></app-sidebar>

  <div class="content-page-box-area">
    <div class="my-profile-inner-box">
      <div class="profile-cover-image">
        <a href="">
          <img width="1200px" height="250px" style="height: 250px" src="http://localhost:8080/{{user.cover}}" alt="image">
        </a>
      </div>
      <div class="profile-info-box">
        <div class="inner-info-box d-flex justify-content-between align-items-center">
          <div class="info-image">
            <a >
              <img width="150px" height="150px" src="http://localhost:8080/{{user.avatar}}" alt="image">
            </a>
          </div>
          <div class="info-text ms-3">
            <h3><a href="#">{{user?.username}}</a></h3>
            <span>
              <a>
                <span class="__cf_email__" data-cfemail="cea3afbabaa6abb98ea9a3afa7a2e0ada1a3">{{user?.email}}</span>
              </a>
            </span>
          </div>
          <div class="statistics">
            <div class="profile-btn" style="width: max-content">
              <button class="btn btn-primary btn-sm" style="background: #3644d9" *ngIf="statusAddFriend && !status" (click)="addFriend()">
                Add friend
              </button>
              <button class="btn btn-secondary btn-sm" *ngIf="statusFriend" (click)="deleteFriend()">
                Delete friend
              </button>
              <button class="btn btn-secondary btn-sm" *ngIf="!statusFriend && !status && !statusAddFriend"
                      (click)="deleteFriend()">
                Cancel request
              </button>
            </div>
            <div class="profile-btn" style="width: max-content" *ngIf="status && !statusFriend">
              <button class="btn btn-primary btn-sm" style="width: max-content; padding: 4px 11.66px; margin: 0 2px; background: #3644d9"
                      (click)="confirm()">Accept
              </button>
              <button class="btn btn-secondary btn-sm" style="width: max-content; margin: 0 2px"
                      (click)="deleteFriend()">Remove
              </button>
            </div>
          </div>
        </div>
        <div class="profile-list-tabs">
          <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" id="timeline-tab" data-bs-toggle="tab" href="#timeline" role="tab"
                 aria-controls="timeline">Timeline</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="about-tab" data-bs-toggle="tab" href="#about" role="tab" aria-controls="about">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="friends-tab" data-bs-toggle="tab" href="#friends" role="tab"
                 aria-controls="friends">Friends</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="photos-tab" data-bs-toggle="tab" href="#photos" role="tab" aria-controls="photos">Photos</a>
            </li>
          </ul>
        </div>
        <ul class="profile-social">
          <li>
            <a href="https://www.facebook.com/EnvyTheme" target="_blank">
              <img src="assets/images/social/facebook.png" alt="image">
            </a>
          </li>
          <li>
            <a href="https://twitter.com/" target="_blank">
              <img src="assets/images/social/twitter.png" alt="image">
            </a>
          </li>
          <li>
            <a href="https://www.pinterest.com/" target="_blank">
              <img src="assets/images/social/pinterest.png" alt="image">
            </a>
          </li>
          <li>
            <a href="https://www.linkedin.com/" target="_blank">
              <img src="assets/images/social/linkedin.png" alt="image">
            </a>
          </li>
          <li>
            <a href="https://www.instagram.com/" target="_blank">
              <img src="assets/images/social/instagram.png" alt="image">
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade show active" id="timeline" role="tabpanel">
        <div class="row">
          <div class="col-lg-3 col-md-12">
            <aside class="widget-area">
              <div class="widget widget-suggested-groups">
                <h3 class="widget-title">Suggested Groups</h3>
                <article class="item">
                  <a href="#" class="thumb">
                    <span class="fullimage bg1" role="img"></span>
                  </a>
                  <div class="info">
                    <h4 class="title">
                      <a href="#">UX/UI Design Group</a>
                    </h4>
                    <span>5000+ Members</span>
                    <a href="#" class="join-btn">Join Community</a>
                  </div>
                </article>
                <article class="item">
                  <a href="#" class="thumb">
                    <span class="fullimage bg2" role="img"></span>
                  </a>
                  <div class="info">
                    <h4 class="title">
                      <a href="#">Job Search Group</a>
                    </h4>
                    <span>5000+ Members</span>
                    <a href="#" class="join-btn">Join Community</a>
                  </div>
                </article>
                <article class="item">
                  <a href="#" class="thumb">
                    <span class="fullimage bg3" role="img"></span>
                  </a>
                  <div class="info">
                    <h4 class="title">
                      <a href="#">Photography Group</a>
                    </h4>
                    <span>5000+ Members</span>
                    <a href="#" class="join-btn">Join Community</a>
                  </div>
                </article>
              </div>
              <div class="widget widget-advertisement">
                <h3 class="widget-title">Advertisement</h3>
                <div class="advertisement-image">
                  <a href="#"><img src="assets/images/advertisement.jpg" alt="image"></a>
                </div>
              </div>
              <div class="widget widget-page-you-like">
                <h3 class="widget-title">Page You Like</h3>
                <article class="item">
                  <a href="#" class="thumb">
                    <span class="fullimage bg1" role="img"></span>
                  </a>
                  <div class="info">
                    <h4 class="title">
                      <a href="#">Graphic Design</a>
                    </h4>
                    <span>1215 Members</span>
                  </div>
                </article>
                <article class="item">
                  <a href="#" class="thumb">
                    <span class="fullimage bg2" role="img"></span>
                  </a>
                  <div class="info">
                    <h4 class="title">
                      <a href="#">Digital Marketing</a>
                    </h4>
                    <span>1865 Members</span>
                  </div>
                </article>
                <article class="item">
                  <a href="#" class="thumb">
                    <span class="fullimage bg3" role="img"></span>
                  </a>
                  <div class="info">
                    <h4 class="title">
                      <a href="#">Fitness Club</a>
                    </h4>
                    <span>2051 Members</span>
                  </div>
                </article>
                <article class="item">
                  <a href="#" class="thumb">
                    <span class="fullimage bg4" role="img"></span>
                  </a>
                  <div class="info">
                    <h4 class="title">
                      <a href="#">Dream Restaurant</a>
                    </h4>
                    <span>5214 Members</span>
                  </div>
                </article>
                <article class="item">
                  <a href="#" class="thumb">
                    <span class="fullimage bg5" role="img"></span>
                  </a>
                  <div class="info">
                    <h4 class="title">
                      <a href="#">Travel Life</a>
                    </h4>
                    <span>9589 Members</span>
                  </div>
                </article>
              </div>
              <div class="widget widget-watch-video">
                <h3 class="widget-title">Watch Video</h3>
                <div class="watch-video-slides owl-carousel owl-theme">
                  <div class="video-item">
                    <img src="assets/images/watch-video/video-1.jpg" alt="image">
                    <a href="https://www.youtube.com/watch?v=ODfy2YIKS1M" class="video-btn popup-youtube">
                      <i class="ri-play-fill"></i>
                    </a>
                  </div>
                  <div class="video-item">
                    <img src="assets/images/watch-video/video-2.jpg" alt="image">
                    <a href="https://www.youtube.com/watch?v=ODfy2YIKS1M" class="video-btn popup-youtube">
                      <i class="ri-play-fill"></i>
                    </a>
                  </div>
                  <div class="video-item">
                    <img src="assets/images/watch-video/video-3.jpg" alt="image">
                    <a href="https://www.youtube.com/watch?v=ODfy2YIKS1M" class="video-btn popup-youtube">
                      <i class="ri-play-fill"></i>
                    </a>
                  </div>
                </div>
              </div>
            </aside>
          </div>
          <div class="col-lg-6 col-md-12">
            <div class="news-feed-area">
              <div class="news-feed news-feed-post" *ngFor="let post of posts; index as i">
                <div class="post-header d-flex justify-content-between align-items-center">
                  <div class="image">
                    <a href=""><img src="http://localhost:8080/{{post.user.avatar}}"
                                                   class="rounded-circle" alt="image"></a>
                  </div>
                  <div class="info ms-3">
                    <span class="name"><a href="">{{post.user.username}}</a></span>
                    <span class="small-text"><a href="#">{{post.dateTime | date:'medium'}}</a></span>
                  </div>
                  <div class="dropdown">
                    <button class="dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false"><i class="flaticon-menu"></i></button>
                  </div>
                </div>
                <div class="post-body">
                  <p>{{post.content}}</p>
                  <div class="post-image" *ngIf="post.file?.fileName">
                    <img src="http://localhost:8080/{{post.file?.fileName}}" alt="image">
                  </div>
                  <ul class="post-meta-wrap d-flex justify-content-between align-items-center">
                    <li class="post-react">
                      <button style="all: unset" (click)="likes(post)"><i class="flaticon-like"></i>
                        <span>Like</span>
                      </button> <span class="number">{{counts[i]}}</span>
                    </li>
                    <li class="post-comment">
                      <a href="#"><i class="flaticon-comment"></i><span>Comment</span> <span class="number">599 </span></a>
                    </li>
                    <li class="post-share">
                      <a href="#"><i class="flaticon-share"></i><span>Share</span> <span class="number">24 </span></a>
                    </li>
                  </ul>
                  <div class="post-comment-list">
                    <div class="comment-list">
                      <div class="comment-image">
                        <a href=""><img src="assets/images/user/user-33.jpg" class="rounded-circle"
                                                       alt="image"></a>
                      </div>
                      <div class="comment-info">
                        <h3>
                          <a href="">David Moore</a>
                        </h3>
                        <span>5 Mins Ago</span>
                        <p>Donec rutrum congue leo eget malesuada nulla quis lorem ut libero malesuada feugiat donec
                          rutrum congue leo eget malesuada donec rutrum congue leo eget malesuada. Praesent sapien massa
                          convallis a pellentesque non nisi curabitur non nulla sit amet nisl tempus convallis
                          lectus.</p>
                        <ul class="comment-react">
                          <li><a href="#" class="like">Like(2)</a></li>
                          <li><a href="#">Reply</a></li>
                        </ul>
                      </div>
                    </div>
                    <div class="more-comments">
                      <a href="#">More Comments+</a>
                    </div>
                  </div>
                  <div class="post-footer">
                    <div class="footer-image">
                      <a href="#"><img src="assets/images/user/user-1.jpg" class="rounded-circle" alt="image"></a>
                    </div>
                    <div class="form-group">
                      <textarea name="message" class="form-control" placeholder="Write a comment..."></textarea>
                      <label><a href="#"><i class="flaticon-photo-camera"></i></a></label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="load-more-posts-btn">
                <a href="#"><i class="flaticon-loading"></i> Load More Posts</a>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-12">
            <aside class="widget-area">
              <div class="widget widget-birthday">
                <div class="birthday-title d-flex justify-content-between align-items-center">
                  <h3>Today Birthdays</h3>
                  <span><a href="#">See All</a></span>
                </div>
                <article class="item">
                  <a href="#" class="thumb">
                    <span class="fullimage bg1" role="img"></span>
                  </a>
                  <div class="info">
                    <h4 class="title">
                      <a href="#">Earline Benally</a>
                    </h4>
                    <span>Today</span>
                  </div>
                </article>
                <article class="item">
                  <a href="#" class="thumb">
                    <span class="fullimage bg2" role="img"></span>
                  </a>
                  <div class="info">
                    <h4 class="title">
                      <a href="#">Jack Gulley</a>
                    </h4>
                    <span>Today</span>
                  </div>
                </article>
                <div class="birthday-title d-flex justify-content-between align-items-center">
                  <h3>Recent Birthdays</h3>
                  <span><a href="#">See All</a></span>
                </div>
                <article class="item">
                  <a href="#" class="thumb">
                    <span class="fullimage bg3" role="img"></span>
                  </a>
                  <div class="info">
                    <h4 class="title">
                      <a href="#">Lolita Benally</a>
                    </h4>
                    <span>May 18</span>
                  </div>
                </article>
                <article class="item">
                  <a href="#" class="thumb">
                    <span class="fullimage bg4" role="img"></span>
                  </a>
                  <div class="info">
                    <h4 class="title">
                      <a href="#">Russell Gulley</a>
                    </h4>
                    <span>May 20</span>
                  </div>
                </article>
                <div class="birthday-title d-flex justify-content-between align-items-center">
                  <h3>Coming Birthdays</h3>
                  <span><a href="#">See All</a></span>
                </div>
                <article class="item">
                  <a href="#" class="thumb">
                    <span class="fullimage bg5" role="img"></span>
                  </a>
                  <div class="info">
                    <h4 class="title">
                      <a href="#">Cindy L. Wilson</a>
                    </h4>
                    <span>July 18</span>
                  </div>
                </article>
                <article class="item">
                  <a href="#" class="thumb">
                    <span class="fullimage bg6" role="img"></span>
                  </a>
                  <div class="info">
                    <h4 class="title">
                      <a href="#">Patricia E. Looney</a>
                    </h4>
                    <span>July 20</span>
                  </div>
                </article>
                <article class="item">
                  <a href="#" class="thumb">
                    <span class="fullimage bg7" role="img"></span>
                  </a>
                  <div class="info">
                    <h4 class="title">
                      <a href="#">James G. Nelson</a>
                    </h4>
                    <span>July 21</span>
                  </div>
                </article>
              </div>
              <div class="widget widget-explore-events">
                <h3 class="widget-title">Explore Events</h3>
                <article class="item">
                  <a href="#"><img src="assets/images/explore-events/explore-1.jpg" alt="image"></a>
                </article>
                <article class="item">
                  <a href="#"><img src="assets/images/explore-events/explore-2.jpg" alt="image"></a>
                </article>
              </div>
              <div class="widget widget-who-following">
                <h3 class="widget-title">Who's Following</h3>
                <div class="following-item d-flex justify-content-between align-items-center">
                  <a href="#"><img src="assets/images/user/user-42.jpg" class="rounded-circle" alt="image"></a>
                  <span class="name"><a href="#">Shawn Lynch</a></span>
                  <span class="add-friend"><a href="#">Add</a></span>
                </div>
                <div class="following-item d-flex justify-content-between align-items-center">
                  <a href="#"><img src="assets/images/user/user-43.jpg" class="rounded-circle" alt="image"></a>
                  <span class="name"><a href="#">Kenneth Perry</a></span>
                  <span class="add-friend"><a href="#">Add</a></span>
                </div>
                <div class="following-item d-flex justify-content-between align-items-center">
                  <a href="#"><img src="assets/images/user/user-44.jpg" class="rounded-circle" alt="image"></a>
                  <span class="name"><a href="#">Janet Suarez</a></span>
                  <span class="add-friend"><a href="#">Add</a></span>
                </div>
                <div class="following-item d-flex justify-content-between align-items-center">
                  <a href="#"><img src="assets/images/user/user-45.jpg" class="rounded-circle" alt="image"></a>
                  <span class="name"><a href="#">Brian Mingo</a></span>
                  <span class="add-friend"><a href="#">Add</a></span>
                </div>
                <div class="following-item d-flex justify-content-between align-items-center">
                  <a href="#"><img src="assets/images/user/user-46.jpg" class="rounded-circle" alt="image"></a>
                  <span class="name"><a href="#">Julia Ramos</a></span>
                  <span class="add-friend"><a href="#">Add</a></span>
                </div>
              </div>
            </aside>
          </div>
        </div>
      </div>
      <div class="tab-pane fade" id="about" role="tabpanel">
        <div class="row">
          <div class="col-lg-3 col-md-12">
            <div class="about-personal-information">
              <div class="about-header d-flex justify-content-between align-items-center">
                <div class="title">Personal Information</div>
                <div class="dropdown">
                  <button class="dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-haspopup="true"
                          aria-expanded="false"><i class="flaticon-menu"></i></button>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item d-flex align-items-center" href="#"><i class="flaticon-edit"></i> Edit
                      Information</a></li>
                    <li><a class="dropdown-item d-flex align-items-center" href="#"><i class="flaticon-private"></i>
                      Hide Information</a></li>
                    <li><a class="dropdown-item d-flex align-items-center" href="#"><i class="flaticon-trash"></i>
                      Delete Information</a></li>
                  </ul>
                </div>
              </div>
              <ul class="information-list">
                <li>
                  <span>Username:</span> {{user.username}}
                </li>
                <li>
                  <span>Email:</span> {{user.email}}
                </li>
                <li>
                  <span>Phone:</span> {{user.phone}}
                </li>
                <li>
                  <span>Birthday:</span> {{user.birthday}}
                </li>
                <li>
                  <span>Gender:</span> {{user.gender}}
                </li>
              </ul>
            </div>
          </div>
          <div class="col-lg-9 col-md-12">
            <div class="about-details-information">
              <div class="information-box-content">
                <div class="information-header d-flex justify-content-between align-items-center">
                  <div class="title">About Me!</div>
                  <div class="dropdown">
                    <button class="dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false"><i class="flaticon-menu"></i></button>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item d-flex align-items-center" href="#"><i class="flaticon-edit"></i> Edit
                        Information</a></li>
                      <li><a class="dropdown-item d-flex align-items-center" href="#"><i class="flaticon-private"></i>
                        Hide Information</a></li>
                      <li><a class="dropdown-item d-flex align-items-center" href="#"><i class="flaticon-trash"></i>
                        Delete Information</a></li>
                    </ul>
                  </div>
                </div>
                <div class="content">
                  <p>Curabitur aliquet quam id dui posuere blandit. Curabitur non nulla sit amet nisl tempus convallis
                    quis ac lectus. Praesent sapien massa, convallis a pellentesque nec, egestas non nisi. Vestibulum
                    ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec velit neque
                    auctor sit amet aliquam vel ullamcorper sit amet ligula. Lorem ipsum dolor sit amet consectetur
                    adipiscing elit. Sed porttitor lectus nibh.</p>
                  <p>Vivamus magna justo lacinia eget consectetur sed convallis at tellus. Nulla porttitor accumsan
                    tincidunt. Quisque velit nisi pretium ut lacinia in elementum id enim. Donec rutrum congue leo eget
                    malesuada. Quisque velit nisi pretium ut lacinia in elementum id enim. Vivamus magna justo lacinia
                    eget consectetur sed convallis at tellus.</p>
                </div>
              </div>
              <div class="information-box-content">
                <div class="information-header d-flex justify-content-between align-items-center">
                  <div class="title">Education & Work</div>
                  <div class="dropdown">
                    <button class="dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false"><i class="flaticon-menu"></i></button>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item d-flex align-items-center" href="#"><i class="flaticon-edit"></i> Edit
                        Information</a></li>
                      <li><a class="dropdown-item d-flex align-items-center" href="#"><i class="flaticon-private"></i>
                        Hide Information</a></li>
                      <li><a class="dropdown-item d-flex align-items-center" href="#"><i class="flaticon-trash"></i>
                        Delete Information</a></li>
                    </ul>
                  </div>
                </div>
                <div class="box-content">
                  <p class="designation">Master of Computer Science <span>(2018 - 2020)</span></p>
                  <span class="title">University of Stanford</span>
                  <p>Vivamus magna justo lacinia eget consectetur sed convallis at tellus. Nulla porttitor accumsan
                    tincidunt. Quisque velit nisi pretium ut lacinia in elementum id enim. Donec rutrum congue leo eget
                    malesuada. Quisque velit nisi pretium ut lacinia in elementum id enim. Vivamus magna justo lacinia
                    eget consectetur sed convallis at tellus.</p>
                </div>
                <div class="box-content">
                  <p class="designation">Bachelor of Computer Science <span>(2014 - 2018)</span></p>
                  <span class="title">Massachusetts Institute of Technology</span>
                  <p>Donec rutrum congue leo eget malesuada. Quisque velit nisi pretium ut lacinia in elementum id enim.
                    Vivamus magna justo lacinia eget consectetur sed convallis at tellus.</p>
                </div>
                <div class="box-content">
                  <p class="designation">Senior UX/UI Designer <span>(Jun 2020 - Present)</span></p>
                  <span class="title">Themeforest</span>
                  <p>Vivamus magna justo lacinia eget consectetur sed convallis at tellus. Nulla porttitor accumsan
                    tincidunt. Quisque velit nisi pretium ut lacinia in elementum id enim. Donec rutrum congue leo eget
                    malesuada. Quisque velit nisi pretium ut lacinia in elementum id enim. Vivamus magna justo lacinia
                    eget consectetur sed convallis at tellus.</p>
                </div>
                <div class="box-content">
                  <p class="designation">Product Designer <span>(Jan 2018 - May 2019)</span></p>
                  <span class="title">Themeforest</span>
                  <p>Vivamus magna justo lacinia eget consectetur sed convallis at tellus. Nulla porttitor accumsan
                    tincidunt. Quisque velit nisi pretium ut lacinia in elementum id enim. Donec rutrum congue leo eget
                    malesuada. Quisque velit nisi pretium ut lacinia in elementum id enim. Vivamus magna justo lacinia
                    eget consectetur sed convallis at tellus.</p>
                </div>
              </div>
              <div class="information-box-content">
                <div class="information-header d-flex justify-content-between align-items-center">
                  <div class="title">Interests</div>
                  <div class="dropdown">
                    <button class="dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false"><i class="flaticon-menu"></i></button>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item d-flex align-items-center" href="#"><i class="flaticon-edit"></i> Edit
                        Information</a></li>
                      <li><a class="dropdown-item d-flex align-items-center" href="#"><i class="flaticon-private"></i>
                        Hide Information</a></li>
                      <li><a class="dropdown-item d-flex align-items-center" href="#"><i class="flaticon-trash"></i>
                        Delete Information</a></li>
                    </ul>
                  </div>
                </div>
                <div class="box-content">
                  <p class="designation">Hobbies:</p>
                  <p>Vivamus magna justo lacinia eget consectetur sed convallis at tellus. Nulla porttitor accumsan
                    tincidunt. Quisque velit nisi pretium ut lacinia in elementum id enim. Donec rutrum congue leo eget
                    malesuada. Quisque velit nisi pretium ut lacinia in elementum id enim. Vivamus magna justo lacinia
                    eget consectetur sed convallis at tellus.</p>
                </div>
                <div class="box-content">
                  <p class="designation">Favourite Books:</p>
                  <p>Vivamus magna justo lacinia eget consectetur sed convallis at tellus. Nulla porttitor accumsan
                    tincidunt. Quisque velit nisi pretium ut lacinia in elementum id enim. Donec rutrum congue leo eget
                    malesuada. Quisque velit nisi pretium ut lacinia in elementum id enim. Vivamus magna justo lacinia
                    eget consectetur sed convallis at tellus.</p>
                </div>
                <div class="box-content">
                  <p class="designation">Others Interests:</p>
                  <p>Vivamus magna justo lacinia eget consectetur sed convallis at tellus. Nulla porttitor accumsan
                    tincidunt. Quisque velit nisi pretium ut lacinia in elementum id enim. Donec rutrum congue leo eget
                    malesuada. Quisque velit nisi pretium ut lacinia in elementum id enim. Vivamus magna justo lacinia
                    eget consectetur sed convallis at tellus.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-pane fade" id="friends" role="tabpanel">
        <app-friend-list></app-friend-list>
      </div>
      <div class="tab-pane fade" role="tabpanel">
        <div class="photos-inner-box-style d-flex justify-content-between align-items-center">
          <div class="title">
            <h3>Photos</h3>
            <span>855</span>
          </div>
          <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" data-bs-toggle="tab" href="#all-photos" role="tab" aria-controls="all-photos">All
                Photos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-bs-toggle="tab" href="#photos-albums" role="tab" aria-controls="photos-albums">Photos
                Albums</a>
            </li>
          </ul>
          <div class="photos-search-box">
            <form [formGroup]="">
              <input type="text" class="input-search" placeholder="Search photos...">
              <button type="submit"><i class="ri-search-line"></i></button>
            </form>
          </div>
        </div>
        <div class="tab-content">
          <div class="tab-pane fade show active" role="tabpanel">
            <div class="row justify-content-center">
              <div class="col-lg-3 col-sm-6">
                <div class="single-photos-card">
                  <a href="#"><img src="assets/images/photos/photos-1.jpg" alt="image"></a>
                  <div class="icon">
                    <a href="#"><i class="flaticon-remove-user"></i></a>
                    <a href="#"><i class="flaticon-download"></i></a>
                  </div>
                </div>
              </div>
              <div class="col-lg-3 col-sm-6">
                <div class="single-photos-card">
                  <a href="#"><img src="assets/images/photos/photos-2.jpg" alt="image"></a>
                  <div class="icon">
                    <a href="#"><i class="flaticon-remove-user"></i></a>
                    <a href="#"><i class="flaticon-download"></i></a>
                  </div>
                </div>
              </div>
              <div class="col-lg-3 col-sm-6">
                <div class="single-photos-card">
                  <a href="#"><img src="assets/images/photos/photos-3.jpg" alt="image"></a>
                  <div class="icon">
                    <a href="#"><i class="flaticon-remove-user"></i></a>
                    <a href="#"><i class="flaticon-download"></i></a>
                  </div>
                </div>
              </div>
              <div class="col-lg-3 col-sm-6">
                <div class="single-photos-card">
                  <a href="#"><img src="assets/images/photos/photos-4.jpg" alt="image"></a>
                  <div class="icon">
                    <a href="#"><i class="flaticon-remove-user"></i></a>
                    <a href="#"><i class="flaticon-download"></i></a>
                  </div>
                </div>
              </div>
              <div class="col-lg-3 col-sm-6">
                <div class="single-photos-card">
                  <a href="#"><img src="assets/images/photos/photos-5.jpg" alt="image"></a>
                  <div class="icon">
                    <a href="#"><i class="flaticon-remove-user"></i></a>
                    <a href="#"><i class="flaticon-download"></i></a>
                  </div>
                </div>
              </div>
              <div class="col-lg-3 col-sm-6">
                <div class="single-photos-card">
                  <a href="#"><img src="assets/images/photos/photos-6.jpg" alt="image"></a>
                  <div class="icon">
                    <a href="#"><i class="flaticon-remove-user"></i></a>
                    <a href="#"><i class="flaticon-download"></i></a>
                  </div>
                </div>
              </div>
              <div class="col-lg-3 col-sm-6">
                <div class="single-photos-card">
                  <a href="#"><img src="assets/images/photos/photos-7.jpg" alt="image"></a>
                  <div class="icon">
                    <a href="#"><i class="flaticon-remove-user"></i></a>
                    <a href="#"><i class="flaticon-download"></i></a>
                  </div>
                </div>
              </div>
              <div class="col-lg-3 col-sm-6">
                <div class="single-photos-card">
                  <a href="#"><img src="assets/images/photos/photos-8.jpg" alt="image"></a>
                  <div class="icon">
                    <a href="#"><i class="flaticon-remove-user"></i></a>
                    <a href="#"><i class="flaticon-download"></i></a>
                  </div>
                </div>
              </div>
              <div class="col-lg-3 col-sm-6">
                <div class="single-photos-card">
                  <a href="#"><img src="assets/images/photos/photos-9.jpg" alt="image"></a>
                  <div class="icon">
                    <a href="#"><i class="flaticon-remove-user"></i></a>
                    <a href="#"><i class="flaticon-download"></i></a>
                  </div>
                </div>
              </div>
              <div class="col-lg-3 col-sm-6">
                <div class="single-photos-card">
                  <a href="#"><img src="assets/images/photos/photos-10.jpg" alt="image"></a>
                  <div class="icon">
                    <a href="#"><i class="flaticon-remove-user"></i></a>
                    <a href="#"><i class="flaticon-download"></i></a>
                  </div>
                </div>
              </div>
              <div class="col-lg-3 col-sm-6">
                <div class="single-photos-card">
                  <a href="#"><img src="assets/images/photos/photos-11.jpg" alt="image"></a>
                  <div class="icon">
                    <a href="#"><i class="flaticon-remove-user"></i></a>
                    <a href="#"><i class="flaticon-download"></i></a>
                  </div>
                </div>
              </div>
              <div class="col-lg-3 col-sm-6">
                <div class="single-photos-card">
                  <a href="#"><img src="assets/images/photos/photos-12.jpg" alt="image"></a>
                  <div class="icon">
                    <a href="#"><i class="flaticon-remove-user"></i></a>
                    <a href="#"><i class="flaticon-download"></i></a>
                  </div>
                </div>
              </div>
              <div class="col-lg-3 col-sm-6">
                <div class="single-photos-card">
                  <a href="#"><img src="assets/images/photos/photos-13.jpg" alt="image"></a>
                  <div class="icon">
                    <a href="#"><i class="flaticon-remove-user"></i></a>
                    <a href="#"><i class="flaticon-download"></i></a>
                  </div>
                </div>
              </div>
              <div class="col-lg-3 col-sm-6">
                <div class="single-photos-card">
                  <a href="#"><img src="assets/images/photos/photos-14.jpg" alt="image"></a>
                  <div class="icon">
                    <a href="#"><i class="flaticon-remove-user"></i></a>
                    <a href="#"><i class="flaticon-download"></i></a>
                  </div>
                </div>
              </div>
              <div class="col-lg-3 col-sm-6">
                <div class="single-photos-card">
                  <a href="#"><img src="assets/images/photos/photos-15.jpg" alt="image"></a>
                  <div class="icon">
                    <a href="#"><i class="flaticon-remove-user"></i></a>
                    <a href="#"><i class="flaticon-download"></i></a>
                  </div>
                </div>
              </div>
              <div class="col-lg-3 col-sm-6">
                <div class="single-photos-card">
                  <a href="#"><img src="assets/images/photos/photos-16.jpg" alt="image"></a>
                  <div class="icon">
                    <a href="#"><i class="flaticon-remove-user"></i></a>
                    <a href="#"><i class="flaticon-download"></i></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="load-more-posts-btn">
              <a href="#"><i class="flaticon-loading"></i> Load More</a>
            </div>
          </div>
          <div class="tab-pane fade" role="tabpanel">
            <div class="row justify-content-center">
              <div class="col-lg-3 col-sm-6">
                <div class="single-photos-card">
                  <a href="#"><img src="assets/images/photos/photos-16.jpg" alt="image"></a>
                  <div class="icon">
                    <a href="#"><i class="flaticon-remove-user"></i></a>
                    <a href="#"><i class="flaticon-download"></i></a>
                  </div>
                </div>
              </div>
              <div class="col-lg-3 col-sm-6">
                <div class="single-photos-card">
                  <a href="#"><img src="assets/images/photos/photos-15.jpg" alt="image"></a>
                  <div class="icon">
                    <a href="#"><i class="flaticon-remove-user"></i></a>
                    <a href="#"><i class="flaticon-download"></i></a>
                  </div>
                </div>
              </div>
              <div class="col-lg-3 col-sm-6">
                <div class="single-photos-card">
                  <a href="#"><img src="assets/images/photos/photos-14.jpg" alt="image"></a>
                  <div class="icon">
                    <a href="#"><i class="flaticon-remove-user"></i></a>
                    <a href="#"><i class="flaticon-download"></i></a>
                  </div>
                </div>
              </div>
              <div class="col-lg-3 col-sm-6">
                <div class="single-photos-card">
                  <a href="#"><img src="assets/images/photos/photos-13.jpg" alt="image"></a>
                  <div class="icon">
                    <a href="#"><i class="flaticon-remove-user"></i></a>
                    <a href="#"><i class="flaticon-download"></i></a>
                  </div>
                </div>
              </div>
              <div class="col-lg-3 col-sm-6">
                <div class="single-photos-card">
                  <a href="#"><img src="assets/images/photos/photos-12.jpg" alt="image"></a>
                  <div class="icon">
                    <a href="#"><i class="flaticon-remove-user"></i></a>
                    <a href="#"><i class="flaticon-download"></i></a>
                  </div>
                </div>
              </div>
              <div class="col-lg-3 col-sm-6">
                <div class="single-photos-card">
                  <a href="#"><img src="assets/images/photos/photos-11.jpg" alt="image"></a>
                  <div class="icon">
                    <a href="#"><i class="flaticon-remove-user"></i></a>
                    <a href="#"><i class="flaticon-download"></i></a>
                  </div>
                </div>
              </div>
              <div class="col-lg-3 col-sm-6">
                <div class="single-photos-card">
                  <a href="#"><img src="assets/images/photos/photos-10.jpg" alt="image"></a>
                  <div class="icon">
                    <a href="#"><i class="flaticon-remove-user"></i></a>
                    <a href="#"><i class="flaticon-download"></i></a>
                  </div>
                </div>
              </div>
              <div class="col-lg-3 col-sm-6">
                <div class="single-photos-card">
                  <a href="#"><img src="assets/images/photos/photos-9.jpg" alt="image"></a>
                  <div class="icon">
                    <a href="#"><i class="flaticon-remove-user"></i></a>
                    <a href="#"><i class="flaticon-download"></i></a>
                  </div>
                </div>
              </div>
              <div class="col-lg-3 col-sm-6">
                <div class="single-photos-card">
                  <a href="#"><img src="assets/images/photos/photos-8.jpg" alt="image"></a>
                  <div class="icon">
                    <a href="#"><i class="flaticon-remove-user"></i></a>
                    <a href="#"><i class="flaticon-download"></i></a>
                  </div>
                </div>
              </div>
              <div class="col-lg-3 col-sm-6">
                <div class="single-photos-card">
                  <a href="#"><img src="assets/images/photos/photos-7.jpg" alt="image"></a>
                  <div class="icon">
                    <a href="#"><i class="flaticon-remove-user"></i></a>
                    <a href="#"><i class="flaticon-download"></i></a>
                  </div>
                </div>
              </div>
              <div class="col-lg-3 col-sm-6">
                <div class="single-photos-card">
                  <a href="#"><img src="assets/images/photos/photos-6.jpg" alt="image"></a>
                  <div class="icon">
                    <a href="#"><i class="flaticon-remove-user"></i></a>
                    <a href="#"><i class="flaticon-download"></i></a>
                  </div>
                </div>
              </div>
              <div class="col-lg-3 col-sm-6">
                <div class="single-photos-card">
                  <a href="#"><img src="assets/images/photos/photos-5.jpg" alt="image"></a>
                  <div class="icon">
                    <a href="#"><i class="flaticon-remove-user"></i></a>
                    <a href="#"><i class="flaticon-download"></i></a>
                  </div>
                </div>
              </div>
              <div class="col-lg-3 col-sm-6">
                <div class="single-photos-card">
                  <a href="#"><img src="assets/images/photos/photos-4.jpg" alt="image"></a>
                  <div class="icon">
                    <a href="#"><i class="flaticon-remove-user"></i></a>
                    <a href="#"><i class="flaticon-download"></i></a>
                  </div>
                </div>
              </div>
              <div class="col-lg-3 col-sm-6">
                <div class="single-photos-card">
                  <a href="#"><img src="assets/images/photos/photos-3.jpg" alt="image"></a>
                  <div class="icon">
                    <a href="#"><i class="flaticon-remove-user"></i></a>
                    <a href="#"><i class="flaticon-download"></i></a>
                  </div>
                </div>
              </div>
              <div class="col-lg-3 col-sm-6">
                <div class="single-photos-card">
                  <a href="#"><img src="assets/images/photos/photos-2.jpg" alt="image"></a>
                  <div class="icon">
                    <a href="#"><i class="flaticon-remove-user"></i></a>
                    <a href="#"><i class="flaticon-download"></i></a>
                  </div>
                </div>
              </div>
              <div class="col-lg-3 col-sm-6">
                <div class="single-photos-card">
                  <a href="#"><img src="assets/images/photos/photos-1.jpg" alt="image"></a>
                  <div class="icon">
                    <a href="#"><i class="flaticon-remove-user"></i></a>
                    <a href="#"><i class="flaticon-download"></i></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="load-more-posts-btn">
              <a href="#"><i class="flaticon-loading"></i> Load More</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <app-simple-bar></app-simple-bar>
</div>
<app-footer></app-footer>
