<div class="main-content-wrapper d-flex flex-column">
  <app-navbar></app-navbar>

  <app-sidebar></app-sidebar>

  <div class="content-page-box-area">
    <div class="page-banner-box">
      <h3>Account Setting</h3>
    </div>
    <div class="account-setting-list-tabs">
      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" id="profile-information-tab" data-bs-toggle="tab" href="#profile-information"
             role="tab" aria-controls="profile-information">Profile Information</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="account-tab" data-bs-toggle="tab" href="#account" role="tab" aria-controls="account">Account</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="privacy-tab" data-bs-toggle="tab" href="#privacy" role="tab" aria-controls="privacy">Privacy</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="notification-tab" data-bs-toggle="tab" href="#notification" role="tab"
             aria-controls="notification">Notification</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="message-tab" data-bs-toggle="tab" href="#message" role="tab" aria-controls="message">Message</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="close-account-tab" data-bs-toggle="tab" href="#close-account" role="tab"
             aria-controls="close-account">Close Account</a>
        </li>
      </ul>
    </div>
    <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade show active" id="profile-information" role="tabpanel">
        <form class="account-setting-form">
          <h3>Profile Information</h3>
          <form [formGroup]="userForm" (ngSubmit)="submitEdit()" novalidate>
            <div class="row">
              <div class="col-lg-6 col-md-6">
                <div class="form-group">
                  <label for="email" class="form-label">Email:</label>
                  <input type="email" name="email" class="form-control" formControlName="email" placeholder="Enter your email">
                  <div *ngIf="!email.valid && (email.dirty ||email.touched)">
                    <div [hidden]="!email.errors.pattern">
                      Only characters are allowed
                    </div>
                    <div [hidden]="!email.errors.required">
                      Email is required
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-6 col-md-6">
                <div class="form-group">
                  <label for="phone" class="form-label">Phone:</label>
                  <input type="text" id="phone" class="form-control" formControlName="phone" placeholder="Enter your phone">
                  <div *ngIf="!phone.valid && (phone.dirty ||phone.touched)">
                    <div [hidden]="!phone.errors.pattern">
                      Only characters are allowed
                    </div>
                    <div [hidden]="!phone.errors.required">
                      Phone is required
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-6 col-md-6">
                <div class="form-group">
                  <label for="birthday" class="form-label">Birthday:</label>
                  <input type="text" id="birthday" class="form-control" formControlName="birthday" placeholder="Enter your birthday">
                  <div *ngIf="!birthday.valid && (birthday.dirty ||birthday.touched)">
                    <div [hidden]="!birthday.errors.pattern">
                      Only characters are allowed
                    </div>
                    <div [hidden]="!birthday.errors.required">
                      Birthday is required
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-6 col-md-6">
                <div class="form-group">
                  <label>Gender</label>
                  <input type="text" class="form-control" formControlName="gender" placeholder="Enter your gender">
                  <!--                  <select class="form-select" formControlName="gender">-->
<!--                    <option value="male">Male</option>-->
<!--                    <option value="female">Female</option>-->
<!--                  </select>-->
                </div>
              </div>
            </div>
            <div class="col-lg-12 col-md-12">
              <button type="submit" [disabled]="!userForm.valid" class="default-btn">Save</button>
            </div>
          </form>
        </form>
      </div>

      <div class="tab-pane fade" id="account" role="tabpanel">
        <form class="account-setting-form">
          <h3>Change Password</h3>
          <div class="row">
            <div class="col-lg-6 col-md-6">
              <div class="form-group">
                <label>Current Password</label>
                <input type="password" class="form-control" placeholder="Current password">
              </div>
            </div>
            <div class="col-lg-6 col-md-6">
              <div class="form-group">
                <label>New Password</label>
                <input type="password" class="form-control" placeholder="New password">
              </div>
            </div>
            <div class="col-lg-6 col-md-6">
              <div class="form-group">
                <label>Change Password</label>
                <input type="password" class="form-control" placeholder="Change password">
              </div>
            </div>
            <div class="col-lg-12 col-md-12">
              <button type="submit" class="default-btn">Save Change</button>
            </div>
          </div>
        </form>
      </div>

      <div class="tab-pane fade" id="privacy" role="tabpanel">
        <form class="account-setting-form">
          <h3>Privacy Settings</h3>
          <div class="row">
            <div class="col-lg-6 col-md-6">
              <div class="form-group">
                <label>Who Can See Your Profile?</label>
                <input type="text" class="form-control">
              </div>
            </div>
            <div class="col-lg-6 col-md-6">
              <div class="form-group">
                <label>Who Can See Your Future Post?</label>
                <input type="text" class="form-control">
              </div>
            </div>
            <div class="col-lg-6 col-md-6">
              <div class="form-group">
                <label>Who Can Send You Friend Request?</label>
                <input type="text" class="form-control">
              </div>
            </div>
            <div class="col-lg-6 col-md-6">
              <div class="form-group">
                <label>Who Can See Your Chat Activity?</label>
                <input type="text" class="form-control">
              </div>
            </div>
            <div class="col-lg-6 col-md-6">
              <div class="form-group">
                <label>Who Can See Your Phone Number?</label>
                <input type="text" class="form-control">
              </div>
            </div>
            <div class="col-lg-6 col-md-6">
              <div class="form-group">
                <label>How People Find And Contact You?</label>
                <input type="text" class="form-control">
              </div>
            </div>
            <div class="col-lg-12 col-md-12">
              <button type="submit" class="default-btn">Save Change</button>
            </div>
          </div>
        </form>
      </div>
      <div class="tab-pane fade" id="notification" role="tabpanel">
        <div class="account-setting-notification">
          <div class="row">
            <div class="col-lg-6 col-md-6">
              <div class="notification-content">
                <h3>Notification</h3>
                <ul class="alert-box">
                  <li>Where You Receive Comment Notification?</li>
                  <li>
                    <div class="form-check">
                      <input type="checkbox" class="form-check-input" id="email">
                      <label class="form-check-label" for="email">Email</label>
                    </div>
                  </li>
                  <li>
                    <div class="form-check">
                      <input type="checkbox" class="form-check-input" id="SMS">
                      <label class="form-check-label" for="SMS">SMS</label>
                    </div>
                  </li>
                </ul>
                <ul class="alert-box">
                  <li>Get Notifications When You're Tagged By</li>
                  <li>
                    <div class="form-check">
                      <input type="checkbox" class="form-check-input" id="anyone">
                      <label class="form-check-label" for="anyone">Anyone</label>
                    </div>
                  </li>
                  <li>
                    <div class="form-check">
                      <input type="checkbox" class="form-check-input" id="friends">
                      <label class="form-check-label" for="friends">Friends</label>
                    </div>
                  </li>
                </ul>
                <ul class="alert-box">
                  <li>Get Notifications When Updates From Friends</li>
                  <li>
                    <div class="form-check">
                      <input type="checkbox" class="form-check-input" id="email-2">
                      <label class="form-check-label" for="email-2">Email</label>
                    </div>
                  </li>
                  <li>
                    <div class="form-check">
                      <input type="checkbox" class="form-check-input" id="SMS-2">
                      <label class="form-check-label" for="SMS-2">SMS</label>
                    </div>
                  </li>
                </ul>
              </div>
              <div class="other-notification-content">
                <h3>Other Notifications</h3>
                <ul class="alert-box">
                  <li>
                    <div class="form-check">
                      <input type="checkbox" class="form-check-input" id="recommended-videos">
                      <label class="form-check-label" for="recommended-videos">Recommended Videos</label>
                    </div>
                  </li>
                  <li>
                    <div class="form-check">
                      <input type="checkbox" class="form-check-input" id="games">
                      <label class="form-check-label" for="games">Games</label>
                    </div>
                  </li>
                  <li>
                    <div class="form-check">
                      <input type="checkbox" class="form-check-input" id="breaking-news">
                      <label class="form-check-label" for="breaking-news">Breaking News</label>
                    </div>
                  </li>
                  <li>
                    <div class="form-check">
                      <input type="checkbox" class="form-check-input" id="pages-follow-notification">
                      <label class="form-check-label" for="pages-follow-notification">Pages Follow Notification</label>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-lg-6 col-md-6">
              <div class="notification-content">
                <ul class="alert-box">
                  <li>Where You Receive Friend Request Notification?</li>
                  <li>
                    <div class="form-check">
                      <input type="checkbox" class="form-check-input" id="email-3">
                      <label class="form-check-label" for="email-3">Email</label>
                    </div>
                  </li>
                  <li>
                    <div class="form-check">
                      <input type="checkbox" class="form-check-input" id="SMS-3">
                      <label class="form-check-label" for="SMS-3">SMS</label>
                    </div>
                  </li>
                </ul>
                <ul class="alert-box">
                  <li>Where You Receive Birthday Notification?</li>
                  <li>
                    <div class="form-check">
                      <input type="checkbox" class="form-check-input" id="email-4">
                      <label class="form-check-label" for="email-4">Email</label>
                    </div>
                  </li>
                  <li>
                    <div class="form-check">
                      <input type="checkbox" class="form-check-input" id="SMS-4">
                      <label class="form-check-label" for="SMS-4">SMS</label>
                    </div>
                  </li>
                </ul>
                <ul class="alert-box">
                  <li>Where You Receive Groups Notification?</li>
                  <li>
                    <div class="form-check">
                      <input type="checkbox" class="form-check-input" id="email-5">
                      <label class="form-check-label" for="email-5">Email</label>
                    </div>
                  </li>
                  <li>
                    <div class="form-check">
                      <input type="checkbox" class="form-check-input" id="SMS-5">
                      <label class="form-check-label" for="SMS-5">SMS</label>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-pane fade" id="message" role="tabpanel">
        <div class="account-setting-message">
          <div class="row">
            <div class="col-lg-6 col-md-6">
              <div class="message-content">
                <h3>Messages Setting</h3>
                <ul class="alert-box">
                  <li>Send Me Messages To My Cell Phone</li>
                  <li>
                    <div class="form-check">
                      <input type="checkbox" class="form-check-input" id="ON">
                      <label class="form-check-label" for="ON">ON</label>
                    </div>
                  </li>
                  <li>
                    <div class="form-check">
                      <input type="checkbox" class="form-check-input" id="OFF">
                      <label class="form-check-label" for="OFF">OFF</label>
                    </div>
                  </li>
                </ul>
                <ul class="alert-box">
                  <li>General Announcement, Updates, Posts, And Videos</li>
                  <li>
                    <div class="form-check">
                      <input type="checkbox" class="form-check-input" id="ON-2">
                      <label class="form-check-label" for="ON-2">ON</label>
                    </div>
                  </li>
                  <li>
                    <div class="form-check">
                      <input type="checkbox" class="form-check-input" id="OFF-2">
                      <label class="form-check-label" for="OFF-2">OFF</label>
                    </div>
                  </li>
                </ul>
                <ul class="alert-box">
                  <li>Messages From Activity On My Page</li>
                  <li>
                    <div class="form-check">
                      <input type="checkbox" class="form-check-input" id="ON-3">
                      <label class="form-check-label" for="ON-3">ON</label>
                    </div>
                  </li>
                  <li>
                    <div class="form-check">
                      <input type="checkbox" class="form-check-input" id="OFF-3">
                      <label class="form-check-label" for="OFF-3">OFF</label>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-lg-6 col-md-6">
              <div class="message-content">
                <ul class="alert-box">
                  <li>Page Follow Notification</li>
                  <li>
                    <div class="form-check">
                      <input type="checkbox" class="form-check-input" id="ON-4">
                      <label class="form-check-label" for="ON-4">ON</label>
                    </div>
                  </li>
                  <li>
                    <div class="form-check">
                      <input type="checkbox" class="form-check-input" id="OFF-4">
                      <label class="form-check-label" for="OFF-4">OFF</label>
                    </div>
                  </li>
                </ul>
                <ul class="alert-box">
                  <li>Breaking News</li>
                  <li>
                    <div class="form-check">
                      <input type="checkbox" class="form-check-input" id="ON-5">
                      <label class="form-check-label" for="ON-5">ON</label>
                    </div>
                  </li>
                  <li>
                    <div class="form-check">
                      <input type="checkbox" class="form-check-input" id="OFF-5">
                      <label class="form-check-label" for="OFF-5">OFF</label>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-pane fade" id="close-account" role="tabpanel">
        <form class="account-setting-form">
          <div class="title">
            <h3>Close Account</h3>
            <p><span>Warning:</span> If you close your account, all your followers and friends will be unsubscribed and
              you will lose access forever.</p>
          </div>
          <div class="row">
            <div class="col-lg-6 col-md-6">
              <div class="form-group">
                <label>Your Email Address</label>
                <input type="email" class="form-control">
              </div>
            </div>
            <div class="col-lg-6 col-md-6">
              <div class="form-group">
                <label>Your Password</label>
                <input type="password" class="form-control">
              </div>
            </div>
            <div class="col-lg-12 col-md-12">
              <button type="submit" class="default-btn">Delate Account</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

  <app-simple-bar></app-simple-bar>
</div>

<app-footer></app-footer>
