<div class="main-content-wrapper d-flex flex-column">

  <app-navbar></app-navbar>


  <app-sidebar></app-sidebar>

  <!--chat-detail-->
  <div class="content-page-box-area">
    <div class="all-messages-body">
      <div class="all-messages-header d-flex justify-content-between align-items-center">
        <h3>Messages</h3>
        <div class="dropdown">
          <button class="dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-haspopup="true"
                  aria-expanded="false"><i class="flaticon-menu"></i></button>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item d-flex align-items-center" href="#"><i class="flaticon-edit"></i> Edit Messages</a>
            </li>
            <li><a class="dropdown-item d-flex align-items-center" href="#"><i class="flaticon-private"></i> Hide
              Messages</a></li>
            <li><a class="dropdown-item d-flex align-items-center" href="#"><i class="flaticon-trash"></i> Delete
              Messages</a></li>
          </ul>
        </div>
      </div>
      <div class="messages-profile-box">
        <a href="#"><img src="assets/images/user/user-11.jpg" class="rounded-circle" alt="image"></a>
        <h3><a href="#">James Vanwin</a></h3>
      </div>
      <div class="messages-chat-container">
        <div class="chat-content">
          <div #message (scroll)="loadNewData(id)" *ngIf="currentUser"
               class="chat-history row" id="chat-message">
            <ul id="history">
                            <ng-container *ngFor="let message of listMessage">
                              <li [className]="currentUser.id == message.sender.id ? 'me' : 'you'">
                                {{message.content}}
                              </li>
                            </ng-container>
            </ul>
          </div>
        </div>
        <div class="chat-list-footer">
          <form class="d-flex align-items-center" (ngSubmit)="sentMessage(listUser[currentIndex])">
            <input [(ngModel)]="content" name="content" type="text" class="form-control"
                   placeholder="Type your message...">
            <button class="send-btn d-inline-block">Send</button>
          </form>
        </div>
      </div>
    </div>
  </div>


  <app-simple-bar></app-simple-bar>
</div>
<div class="go-top">
  <i class="ri-arrow-up-line"></i>
</div>

