<div class="main-content-wrapper d-flex flex-column">
  <app-navbar></app-navbar>
  <app-sidebar></app-sidebar>

  <div class="content-page-box-area">
    <div class="page-banner-box">
      <h3>Account Setting</h3>
    </div>
    <div class="account-setting-list-tabs">
      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" id="profile-information-tab" data-bs-toggle="tab" routerLink="/setting-profile"
             role="tab" aria-controls="profile-information">Profile Information</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="account-tab" data-bs-toggle="tab" routerLink="/change-password" role="tab"
             aria-controls="account">Account</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="privacy-tab" data-bs-toggle="tab" href="#privacy" role="tab" aria-controls="privacy">Privacy</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="notification-tab" data-bs-toggle="tab" href="#notification" role="tab"
             aria-controls="notification">Notification</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="message-tab" data-bs-toggle="tab" href="#message" role="tab" aria-controls="message">Message</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="close-account-tab" data-bs-toggle="tab" href="#close-account" role="tab"
             aria-controls="close-account">Close Account</a>
        </li>
      </ul>
    </div>
    <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade" id="account" role="tabpanel">
        <form class="account-setting-form">
          <h3>Change Password</h3>
          <div class="row">
            <div class="col-lg-6 col-md-6">
              <div class="form-group">
                <label>Current Password</label>
                <input type="password" class="form-control" formControlName="password" placeholder="Current password">
              </div>
            </div>
            <div class="col-lg-6 col-md-6">
              <div class="form-group">
                <label>New Password</label>
                <input type="password" class="form-control" formControlName="newPassword" placeholder="New password">
              </div>
            </div>
            <div class="col-lg-6 col-md-6">
              <div class="form-group">
                <label>Change Password</label>
                <input type="password" class="form-control" formControlName="newPassword" placeholder="Change password">
              </div>
            </div>
            <div class="col-lg-12 col-md-12">
              <button type="submit" class="default-btn">Save Change</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
    <app-simple-bar></app-simple-bar>

</div>

  <app-footer></app-footer>

