<!--
<h1>Thông Tin Chi Tiết</h1>
<button (click)="addFriend()">Add Friend</button>
<form [formGroup]="userForm">
  <table>
    <tr>
      <td>Tên:</td>
      <td><input type="text" formControlName="username" disabled></td>
    </tr>
    <tr>
      <td>email:</td>
      <td><input type="text" formControlName="email" disabled></td>
    </tr>
    <tr>
      <td>phone:</td>
      <td><input type="text" formControlName="phone" disabled></td>
    </tr>
    <tr>
      <td></td>
      <td><button routerLink="/user/friend">Quay Lại</button></td>
    </tr>
  </table>
</form>

-->
