<div class="main-content-wrapper d-flex flex-column">
  <app-navbar></app-navbar>
  <app-sidebar></app-sidebar>

  <div class="content-page-box-area">
    <div class="page-banner-box">
      <h3>Account Setting</h3>
    </div>
    <div class="account-setting-list-tabs">
      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" id="profile-information-tab" data-bs-toggle="tab"
             routerLink="/setting-profile/{{user.id}}"
             role="tab" aria-controls="profile-information">Profile Information</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="account-tab" data-bs-toggle="tab" routerLink="/change-password/{{user.id}}" role="tab"
             aria-controls="account">Account</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="privacy-tab" data-bs-toggle="tab" href="#privacy" role="tab" aria-controls="privacy">Privacy</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="notification-tab" data-bs-toggle="tab" href="#notification" role="tab"
             aria-controls="notification">Notification</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="message-tab" data-bs-toggle="tab" href="#message" role="tab" aria-controls="message">Message</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="close-account-tab" data-bs-toggle="tab" href="#close-account" role="tab"
             aria-controls="close-account">Close Account</a>
        </li>
      </ul>
    </div>
    <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade show active" id="profile-information" role="tabpanel">
        <form class="account-setting-form" [formGroup]="userForm" (ngSubmit)="userForm.valid && submitEdit()">
          <h3>Profile Information</h3>
            <div class="row">
              <div class="col-lg-6 col-md-6">
                <div class="form-group">
                    <label for="email" class="form-label">Email:</label>
                    <input type="text" name="email" id="email" name="email" class="form-control" formControlName="email"
                           placeholder="Enter your email">
                  <div *ngIf="!email.valid && (email.dirty ||email.touched)">
                    <p [hidden]="!email.errors.pattern || !email.errors.email" style="color: red">
                      Email is valid
                    </p>
                    <p [hidden]="!email.errors.required" style="color: red">
                      Please, enter your email!
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-lg-6 col-md-6">
                <div class="form-group">
                  <label for="phone" class="form-label">Phone:</label>
                  <input type="text" id="phone" name="phone" class="form-control" formControlName="phone"
                         placeholder="Enter your phone">
                  <div *ngIf="!phone.valid && (phone.dirty ||phone.touched)">
                    <p [hidden]="!phone.errors.pattern" style="color: red">
                      Phone have from 9 to 11 number!
                    </p>
                    <p [hidden]="!phone.errors.required" style="color: red">
                      Please, enter your phone!
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-6 col-md-6">
                <div class="form-group">
                  <label for="birthday" class="form-label">Birthday:</label>
                  <input type="text" id="birthday" name="birthday" class="form-control" formControlName="birthday"
                         placeholder="Enter your birthday">
                  <div *ngIf="!birthday.valid && (birthday.dirty ||birthday.touched)">
                    <p [hidden]="!birthday.errors.pattern" style="color: red">
                      Not valid! Like as MM/dd/yyyy
                    </p>
                    <p [hidden]="!birthday.errors.required" style="color: red">
                      Please, enter your phone!
                    </p>
                  </div>
                </div>
              </div>

              <div class="col-lg-6 col-md-6">
                <div class="form-group">
                  <br>
                  <label class="form-label">Gender: </label>
                  <input type="radio" value="male" name="gender" formControlName="gender"> Male
                  <input type="radio" value="female" name="gender" formControlName="gender"> Female
                  <div *ngIf="!gender.valid && (gender.dirty ||gender.touched)">
                    <div [hidden]="!gender.errors.required">
                      Gender is required.
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-12 col-md-12">
              <button type="submit" class="default-btn">Save</button>
            </div>
        </form>
      </div>
    </div>
  </div>

  <app-simple-bar></app-simple-bar>
</div>

<app-footer></app-footer>
