input[type="file"] {
  display: none;
}
.custom-file-upload {
  background-color:transparent;border:none;font-size:15px;font-weight:600;color:var(--paragraph-color);position:relative;padding-left:28px;padding-right:0;-webkit-transition:var(--transition);transition:var(--transition);
  cursor: pointer;
}

.flaticon-gallery {
  color:#1ccd16;font-size:20px;position:absolute;left:0;top:50%;-webkit-transform:translateY(-50%);transform:translateY(-50%);
}
